<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #Form="ngForm" class="form" (ngSubmit)="addItem()">
    <ion-item>
      <ion-label position="floating">Item Name <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" name="itemName" [(ngModel)]="formData.itemName" required></ion-input>
    </ion-item>



    <ion-item>
      <ion-label position="floating">HSN Code <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" name="hsnCode" [(ngModel)]="formData.hsnCode" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Select unit<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-select name="unit" [(ngModel)]="formData.unit" required>
        <ion-select-option value="Kg">Kg</ion-select-option>
        <ion-select-option value="Gram">Gram</ion-select-option>
        <ion-select-option value="Liter">Liter</ion-select-option>
        <ion-select-option value="Nos">Nos</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rate <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="number" name="itemPrice" [(ngModel)]="formData.itemPrice" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Select Price Per<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-select name="unit" [(ngModel)]="formData.unit" required>
        <ion-select-option value="Kg">Kg</ion-select-option>
        <ion-select-option value="Gram">Gram</ion-select-option>
        <ion-select-option value="Liter">Liter</ion-select-option>
        <ion-select-option value="Nos">Nos</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label position="floating">GST Value(%)<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="number" name="gst" [(ngModel)]="formData.gst" required></ion-input>
    </ion-item>

    <ion-button [disabled]="!Form.form.valid" expand="block"  shape="round" type="submit">
Add Item
    </ion-button>
  </form>
</ion-content>