img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 100px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border-width: 0.5px;
}
.upload{
    position: absolute;
    bottom: 0;
    margin-left: 100px;
zoom: 2;}

ion-text{
    color: red;
}