<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update Stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #Form="ngForm" class="form" (ngSubmit)="updateItem()">
   
    <ion-item>
      <ion-label>

        {{shared.itemMasterForm.itemName }}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Stock <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input   type="text" name="itemName" [(ngModel)]="shared.itemMasterForm.stock" required></ion-input>
    </ion-item>



    
 

    <ion-button [disabled]="!Form.form.valid" expand="block"  shape="round" type="submit">
update
    </ion-button>
  </form>
</ion-content>