.logo{
    height: 150px;
    width: 150px;
    border-radius: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border-width: 0.5px;
}


 
ion-content{
    background-size: cover;
    text-align: center;
}
.logoImg{
    margin-top: 15px;
    width: 120px;
}

.sinIntext{
    font-weight: bold;
    font-size: 27px;
    color: black;
  }

  .eyeIcon{
    padding-top: 15px;
  }