<ion-content padding>
  <form #loginForm="ngForm" class="mb-4" autocomplete="off" class="form" (ngSubmit)="login()">
    <div class="logo">
      <img class="logoImg" src="assets/avatar.png" alt="logo">
    </div>
    <ion-label class="sinIntext" padding>Login</ion-label>
    <br>
    <br>
    <ion-item>
      <ion-icon slot="start" color="primary" name="phone-portrait"></ion-icon>
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input type="Number" name="mobileNumber" [(ngModel)]="formData.mobileNumber" required minlength="8"
        maxlength="10"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="lock" color="primary"></ion-icon>
      <ion-label stacked position="floating">Password</ion-label>
      <ion-input [type]="passwordType" name="password" [(ngModel)]="formData.password" required></ion-input>
      <ion-icon *ngIf="eye == false" class="eyeIcon" name="eye-off" slot="end" color="dark" (click)="togglePassword()">
      </ion-icon>
      <ion-icon *ngIf="eye == true" class="eyeIcon" name="eye" slot="end" color="dark" (click)="togglePassword()">
      </ion-icon>
    </ion-item>
    <p text-right tappable class="paz">
      <ion-text color="dark">
        <strong (click)="forgotPassword()" style="font-size: 14px;">forgetten password?</strong>
      </ion-text>
    </p>
    <ion-button type="submit" expand="block" color="primary" [disabled]="!loginForm.form.valid">Login</ion-button>
  
  
    <div text-center margin-top>
      <span class="paz" tappable>
        <ion-text color="dark">
          New here? <strong (click)="register()">Create an account</strong>
        </ion-text>
      </span>
    </div>

  </form>

  <!-- <ion-row>
    <ion-col size="8" offset="2">
      <ion-button expand="block" fill="clear" color="dark" routerLink="/forgotpassword">
        {{ "Forgot password?" }}</ion-button>
    </ion-col>
  </ion-row> -->

  <!-- <ion-row>
    <ion-col size="8" offset="2">
      <ion-button expand="block" fill="outline" routerLink="/register">{{ 'Register' }}</ion-button>
    </ion-col>
  </ion-row> -->

</ion-content>