<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Search Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-item class="ion-no-padding">
    <ion-searchbar class="ion-no-padding" placeholder="Search Customer" (ionInput)="getCustomer($event)" [debounce]="250"></ion-searchbar>
    <ion-icon slot="end" name="add" color="green" routerLink="/addnewcustomer"></ion-icon>
  </ion-item>
  <ion-list *ngIf="isItemAvailable">
      <ion-item *ngFor="let item of customers">
<ion-text  (click)="getCustomerDetails(item.custId)" >{{item.custName}}</ion-text>
        
        
          <ion-icon (click)="updateCustomer(item)" name="create" style="color: green;" slot="end"></ion-icon>
          <ion-icon (click)="deleteCustomer(item)" name="trash" style="color: red;" slot="end"></ion-icon>
        </ion-item>

    </ion-list>
</ion-content>
