.card1{
--background:#10dc60;
padding: 20px;
text-align: center;
font-weight: bold;
font-size: 20px;
color: #fff;
}

.card2{
    --background:#f04141;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    }

    